.number {
  font-size: 70px;
  font-weight: bold;
  color: aqua;
  text-align: center;
}

.counter {
  font-size: 40px;
  font-weight: bold;
  color: rebeccapurple;
  text-align: center;
}

body {
  background-color: #000000;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}